<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<appSettings>
		<add key="WebDal" value="CampusNerdy.Dal"/>
	</appSettings>
	<connectionStrings>
		<add name="CampusNerdyEntities" connectionString="Data Source=ZX-PC;Initial Catalog=CampusNerdy;Integrated Security=True;MultipleActiveResultSets=True;" />
		<!--<add name="CampusNerdyEntities" connectionString="metadata=res://*/CampusNerdy.csdl|res://*/CampusNerdy.ssdl|res://*/CampusNerdy.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ZX-PC;Initial Catalog=CampusNerdy;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
	</connectionStrings>
</configuration>
