<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<pages>
			<controls>
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
			</controls>
		</pages>
	</system.web>
	<appSettings>
		<add key="WebDal" value="CampusNerdy.Dal"/>
	</appSettings>
	<connectionStrings>
		<add name="CampusNerdyEntities" connectionString="Data Source=ZX-PC;Initial Catalog=CampusNerdy;Integrated Security=True;MultipleActiveResultSets=True;"/>
		<!--<add name="CampusNerdyEntities" connectionString="metadata=res://*/CampusNerdy.csdl|res://*/CampusNerdy.ssdl|res://*/CampusNerdy.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ZX-PC;Initial Catalog=CampusNerdy;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
	</connectionStrings>
</configuration>
