<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CampusNerdyEntities" connectionString="metadata=res://*/CampusNerdy.csdl|res://*/CampusNerdy.ssdl|res://*/CampusNerdy.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DAVID-PC\DAVID;Initial Catalog=CampusNerdy;User ID=sa;Password=1234567;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>