<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="CampusNerdyEntities" connectionString="metadata=res://*/CampusNerdy.csdl|res://*/CampusNerdy.ssdl|res://*/CampusNerdy.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ZX-PC;Initial Catalog=CampusNerdy;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
</configuration>